BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Allman

SortIncludes: Never
NamespaceIndentation: None

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

IndentCaseLabels: true